body{
    background-color:mediumslateblue;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.main{
    background-color:black;
    box-shadow: 0 0 20px black;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:250px;
    width:300px;
}
.text{
    height:30px;
    width:90%;
    background-color:white;
    border:2px solid black;
    margin-top:10px;
    margin-bottom:10px;

}
.res{
    height:50px;
    width:90%;
    background-color:white;
    color:black;
    border:2px solid black;
    margin-bottom:10px;
    font-size:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
h2{
    color:white;
    text-shadow: 0 0 20px black;
    animation:change 2s infinite alternate;
}
@keyframes change{
    0%{color:rgb(239, 170, 193);}
    20%{color:palevioletred;}
    40%{color:rgb(173, 56, 95);}
    60%{color:rgb(143, 19, 60);}
    80%{color:rgb(186, 128, 19)}
    100%{color:rgb(214, 176, 104);}
}
